* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********** HEADER SECTION ***********/
header {
    background-color: #0075a1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;

    height: 80px;
    width: 100%;

    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo-header img {
    width: 50px;
    display: block;
    margin-right: 20px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 1rem;
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu li:last-child {
    background: #4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
    
    position: absolute;
    right: 480px;
}

.menu-icon {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

#menu-checkbtn,
.menu-icon
{
    display: none;
}

.menu a:hover{
    background: #d7d1d5d2;
    border-radius: 3px;
    transition: .5s;
}

/* Menu de idiomas */
.selected-lang {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 5px;
}


.lang-menu .selected-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position:relative;
}
.lang-menu .selected-lang img{
    width: 20px;
    height: 20px;
}
.lang-menu .selected-lang p{
    color: white;
    margin-left: 4px;
}

.lang-menu .selection-lang {
    display: none;
    width: 10%;

    background-color: #6e6e72c4;
    border: px solid #f8f8f8;

    position:fixed;
    top:50px;
    z-index: 5;

    font-size: 10px;

    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu .selection-lang li{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}

.lang-menu .selection-lang li:hover{
    width: 100%;
}

.es figure, .en figure, .fr figure{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.es img, .en img, .fr img{
    width: 20px;
    height: 20px;
}

.lang-menu:hover .selection-lang{
    display: flex;
    flex-direction: column;
}
/************************************
       Fin Menu de idiomas               
 ************************************/

 /***** MAIN SECTION *****/
#main {
    max-width: 900px;
    margin: auto;
}

.content {
    margin: 100px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #ddd;
    background: #fff;
}
h1{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    padding-top: 80px;
}

 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: #666;
    font-size: .75em;
}

/***********************************
*********** MEDIA QUERY ************
************************************/

@media only screen and (max-width: 778px){
    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .menu ul {
        display: block;
        position: fixed;
        border-radius: 4px;
        top: 70px;
        left: -100%;
        background: #222222a9;

        gap: 10px;
        height: 320px;
        
    }

    .menu ul li {
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .menu ul li:last-child {
        background: none;
        font-weight: bold;
    }

    /* Aparece Menu a la izquierda */
    #menu-checkbtn:checked~ul {
        left: 0;
        transition: all .25s;
        width: 15%;
        margin: 0px;
        padding: 0px;
        position:fixed;
        font-size: 75%;
    }

    /* Menu de idioma */

    .lang-menu .selection-lang {   
        width: 10%;
        background-color: #6e6e72c4;
        border: px solid #f8f8f8;
    
        position:fixed;
        top:350px;
        left: 35px;
        font-size: 10px;
       
        border-radius: 5px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    }

    /* Fin Menu de idioma */
  

    /* ------------------------------------ */
    #main{
        width: 100%;
        /* padding-left: 0px; */
        
    }
    #content{
        grid-gap: 10px;

        margin: 100px 0;
        /* border: 1px solid #f93403; */
        padding: 50px;
        border-radius: 10px;
        box-shadow:none;
        background: #fff; 
    }
}